

/* Regular */

@font-face {
	font-family: 'EuclidCircular';
	src: local('EuclidCircular'); 
	font-weight: 400;
	font-style: normal;
}

/* Medium */

/* SemiBold */

@font-face {
	font-family: 'EuclidCircular';
	src: local('EuclidCircular'); 
	font-weight: 600;
	font-style: normal;
}
